[submodule "OCA/mis-builder"]
	path = OCA/mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 15.0

[submodule "OCA/mis-builder-contrib"]
	path = OCA/mis-builder-contrib
	url = git@github.com:OCA/mis-builder-contrib.git
	branch = 15.0
